
<div class="user">
  <div class="tech">
    <h2>Deep <br> learning.</h2>
    <img src="{{ site.baseurl }}/assets/pytorch.png" width = "260">
    <img src="{{ site.baseurl }}/assets/keras.png" width = "200">


  </div>
  <div class="tech">
    <h2>Computer vision</h2>
    <img src="{{ site.baseurl }}/assets/opencv.png" width = "100">

       </div>
  <div class="tech">
    <h2>Data <br> science</h2>

    <div class="row">
      <img src="{{ site.baseurl }}/assets/numpy.png" width = "120">
      <img src="{{ site.baseurl }}/assets/scipy.png" width = "120">
      <img src="{{ site.baseurl }}/assets/pandas.png" width = "120">

    </div>
   


  



    

    
  </div>

</div>

<!--

  <div class="github-card" data-github="mayukhdeb" data-width="400" data-height="153" data-theme="default"></div>
<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>



-->



