<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
          <a aria-label="Github" target="_blank" href="https://github.com/mayukhdeb"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
          <!---
          
          <a aria-label="Telegram" target="_blank" href="https://t.me/mayukh09"><i class="icon fa fa-telegram" aria-hidden="true"></i></a>

          
          -->

          <a aria-label="Twitter" target="_blank" href="https://twitter.com/mayukh091"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>

        <a aria-label="email" href="mailto:mayukhmainak2000@gmail.com"><i class="icon fa fa-envelope"></i></a>


        
        <a aria-label="LinkedIn" target="_blank" href="https://linkedin.com/in/mayukhdeb"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
       
        <a aria-label="Blog" target="_blank" href="https://mayukhdeb.github.io/blog"><i class="icon fa fa-book" aria-hidden="true"></i></a>

        <a aria-label="CV" target="_blank" href="https://mayukhdeb.github.io/cv.pdf"><i class="icon fa fa-file-text" aria-hidden="true"></i></a>


      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
